* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "PoppinsExtraLight";
    background-color: $very-light-gray;
}

.mb-m {
    margin-bottom: 1.375rem;
}

.mx-m {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.mx-l {
    margin-left: 2rem;
    margin-right: 2rem;
}