* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "PoppinsExtraLight";
    background-color: $very-light-gray;
}

.mb-22 {
    margin-bottom: 22px;
}

.mx-24 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.mx-32 {
    margin-left: 2rem;
    margin-right: 2rem;
}