.header {
    margin: 5.3125rem auto 4.75rem;
    width: 90%;
    text-align: center;

    @include breakpoints-up(md) {
        width: 70%;
    }

    @include breakpoints-up(xl) {
        max-width: 575px;
    }

    &__label {
        display: block;
        margin-bottom: 0.1875rem;
        color: $very-dark-blue;
        font-size: $font-l;

        @include breakpoints-up(md) {
            font-size: $font-xl;
        }
    }

    &__title {
        margin-bottom: 1rem;
        color: $very-dark-blue;
        font-family: "PoppinsSemiBold";
        font-size: $font-l;
        
        @include breakpoints-up(md) {
            font-size: $font-xl;
        }
    }

    &__desc {
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        color: $grayish-blue;
        font-family: "PoppinsRegular";
        font-size: $font-s;
        line-height: 1.65;
    }
}