// Colors
$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

$very-dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$very-light-gray: hsl(0, 0%, 98%);

// Font size
$font-xl: 2.25rem;// 36px
$font-l: 1.5rem;// 24px
$font-m: 1.25rem;// 20px
$font-s: 0.9375rem;// 15px
$font-xs: 0.8125rem;// 13px